Service References/AllLifeGeneric/AllLifeGeneric2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AllLifeGeneric.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AllLifeGeneric.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IDValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citizenship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDValidationResult" nillable="true" type="tns:IDValidationResult" />
</xs:schema>