Service References/WS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AllLifePricing" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AllLifePricing" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AllLifePricing" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnPremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnPremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnPremiumResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnRisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiumValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inceptionDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="effectiveDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durationModifierCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnRiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnRiskResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnCover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiumValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnCoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnCoverResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_Premium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMloading" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_PremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnEM_Affected_PremiumResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_Risk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiumValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inceptionDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="effectiveDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durationModifierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMloading" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_RiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnEM_Affected_RiskResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_Cover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseRisk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiumValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quotationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMloading" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEM_Affected_CoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnEM_Affected_CoverResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnRiskBand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riskModifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnRiskBandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnRiskBandResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualifyLife">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgeNextBirthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TobaccoUse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HbA1cPercent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BMI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PantSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlcoholUnitsPerDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualifyLifeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QualifyLifeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualifyDisability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgeNextBirthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TobaccoUse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HbA1cPercent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BMI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PantSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlcoholUnitsPerDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Employment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Qualification" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Income" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SpouseIncome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RiskBand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualifyDisabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QualifyDisabilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>